.finished-item-postit{
    display: flex;
    background-image: url('../resources/postit.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    min-width: fit-content;
    min-height: fit-content;

}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  border-radius:50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.finished-text {
    font-size: 20px;
}